body {
    background-color: #cfb8ca;
    line-height: 1.6;
}
h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    padding: 12px;
    background-color: #af3a96; 
    text-align: center;
}
header {
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 20px;
    background-color: #ce81bd;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
nav li{
    display: inline-block;
    margin: 0 10px;
}

section {
    padding: 20px;
    margin-bottom: 25px;
}

h2 {
    color: rgb(212, 30, 212);
    margin-top: 0;
}
p {
    color: rgb(146, 64, 146);
}
.about-me {
    color: rgb(187, 72, 168);
    font-size: 20;
}
.my-services {
    color: rgb(133, 62, 101);
    font-size: 20;  
}